In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [5]:
rep_df = pd.read_csv("../data/house_rep_data_final.csv")
rep_df

,Candidate,Party,Vote Percentage,State,District,Incumbent,Winner,Money Raised,Money Spent
0,Jerry Carl,R,64.9,Alabama,1,False,True,"1,971,321","1,859,349"
1,James Averhart,D,35.0,Alabama,1,False,False,"80,095","78,973"
2,Barry Moore,R,65.3,Alabama,2,False,True,"650,807","669,368"
3,Phyllis Harvey-Hall,D,34.6,Alabama,2,False,False,"56,050","55,988"
4,Mike D,R,67.5,Alabama,3,True,True,"1,193,111","1,218,564"
...,...,...,...,...,...,...,...,...,...
919,Tricia Zunker,D,39.2,Wisconsin,07,False,False,"1,261,957","1,232,690"
920,Mike Gallagher,R,64.0,Wisconsin,08,True,True,"3,202,905","2,841,801"
921,Amanda Stuck,D,36.0,Wisconsin,08,False,False,"416,978","399,916"
922,Liz Cheney,R,68.6,Wyoming,01,True,True,"3,003,883","3,060,167"
923,Lynnette Grey,D,24.6,Wyoming,01,False,False,"134,597","132,235"

In [21]:
winner_df = rep_df.query('Winner == True')
winner_df

,Candidate,Party,Vote Percentage,State,District,Incumbent,Winner,Money Raised,Money Spent
0,Jerry Carl,R,64.9,Alabama,1,False,True,"1,971,321","1,859,349"
2,Barry Moore,R,65.3,Alabama,2,False,True,"650,807","669,368"
4,Mike D,R,67.5,Alabama,3,True,True,"1,193,111","1,218,564"
6,Robert B,R,82.5,Alabama,4,True,True,"1,255,076","1,323,812"
7,Mo Brooks,R,95.8,Alabama,5,True,True,"655,365","210,045"
...,...,...,...,...,...,...,...,...,...
914,Glenn Grothman,R,59.3,Wisconsin,06,True,True,"1,815,756","1,736,659"
916,Tom Tiffany,R,0.0,Wisconsin,07,False,True,"2,637,459","2,514,740"
918,Tom Tiffany,R,60.8,Wisconsin,07,True,True,"2,637,459","2,514,740"
920,Mike Gallagher,R,64.0,Wisconsin,08,True,True,"3,202,905","2,841,801"
922,Liz Cheney,R,68.6,Wyoming,01,True,True,"3,003,883","3,060,167"

## How often does the incumbent candidate win a race?

In [37]:
winner_df.query("Incumbent == True")['Candidate'].count() / winner_df['Candidate'].count()

0.8513513513513513

## Can you detect any relationship between amount of money raised and the incumbent status of a candidate?

In [ ]:
 .